
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AnaDuzen.cshtml";
}

<div id="hakkimizdaHeader">


    <img src="~/img/hakkımızdaKırpılmış.jpg" />
    <p>HAKKIMIZDA</p>

</div>
<div id="hakkimizdaBaslik">
    <p>Ne Yapıyoruz?</p>
</div>
<div id="bizKimiz">

    <div class="hakkimizdaBeyaz">
        <p>
            The Project Invest, yatırımcılara yatırım ürünleri, tavsiye ve / veya planlama sağlayan bir profesyonel proje geliştirme ve yatırım danışmanlığı profesyonelleridir.
        </p>
    </div>
        <div class="hakkimizdaNormal">
            <p>
                Akademisyen ve alanında uzman profesyonellerden oluşan The Project Invest danışmanları, müşterileri için yatırım stratejilerini formüle etmek, ihtiyaçlarını karşılamalarına ve finansal hedeflerine ulaşmalarına yardımcı olmak için derinlemesine çalışmalar yaparlar.
            </p>
        </div>
        <div class="hakkimizdaBeyaz">
            <p>
                Deneyimimizi, teknik becerilerimizi ve yaratıcılığımızı zorlu hedeflerin üstesinden gelmek için projeler üzerinde kullanıyoruz. Teknoloji ve finansal hizmetler endüstrilerinde zengin bilgi ve deneyime sahip uzman danışmanlarımız tarafından yenilikçi fikirlerin uzun vadeli başarıya dönüştürülmesine yardımcı oluyoruz.
            </p>
        </div>
        <div class="hakkimizdaNormal">
            <p>
                Danışmanlarımız finansal hedeflerinize, beklentilerinize ulaşmanıza ve projelerinizi en etkili ve verimli bir şekilde yönetmenize yardımcı olacaktır. Uzmanlığımızı müşterilerimize büyüme stratejileri ve kârlılığın nasıl yapılandırılacağı, yürütüleceği ve yönetileceği konusunda tavsiye vermek için kullanıyoruz.
            </p>
        </div>
    </ul>

</div>

<div id="misyon">
    <div style="text-align:center;padding-top:20px">
        <h3 style="margin:0 0 15px 0">MİSYONUMUZ</h3>

        Misyonumuz, uzman danışmanlık hizmetleri sunarak yenilikçi fikirlerin ticari başarıya dönüşmesini sağlamaktır.
    </div>
</div>

<div id="vizyon">
    <div  style="text-align:center;padding-top:20px">
        <h3 style="margin:0 0 15px 0">VİZYONUMUZ</h3>

        Vizyonumuz, Ülkemizde ve dünyada ses getiren proje ve yatırımların yönlendiricisi olmaktır.
    </div>
</div>