
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AnaDuzen.cshtml";
}

<div id="iletisimHeader">
    <img src="~/img/iletişimKırpılmış.jpg" />
    <p>İLETİŞİM</p>
</div>

<div id="iletisimBaslik">
    <p>Bize Ulaşın</p>
</div>

<div id="main">
    <div id="adresAlani">
        <p>
            <b>Adres:</b> Ehlibeyt mah. Tekstilciler Cad. Sabri Mermutlu İş Merkezi No:33/19
            Çankaya ANKARA
        </p>
        <hr />
        <p><b>Telefon:</b> 0(530) 576 06 23</p>
    </div>
    <div id="logoAlani">
        <img src="~/img/logo.png" />
    </div>
</div>

<div id="konum">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1e4O-JuQcgmzZEYc3Y6VGvvfAKLXnqdEu" width="1340" height="500"></iframe>
</div>