
@{
    ViewBag.Title = "Sektörler";
    Layout = "~/Views/Shared/_AnaDuzen.cshtml";
}

<div id="sektorlerHeader">
    <img src="~/img/sektörlerimizKırpılmış.jpg" />
    <p>SEKTÖRLER</p>
</div>

<div id="sektorlerBaslik">

    <p>HİZMET VERDİĞİMİZ SEKTÖRLER</p>

</div>

<div id="sektorler">

    <div class="sektor">
        <img src="~/img/yenilenebilir enerji.png" />
        <p>YENİLENEBİLİR ENERJİ</p>
    </div>

    <div class="sektor">
        <img src="~/img/tarım.png" />
        <p>TARIM SEKTÖRÜ</p>
    </div>

    <div class="sektor">
        <img src="~/img/sağlık.png" />
        <p>SAĞLIK SEKTÖRÜ</p>
    </div>

    <div class="sektor">
        <img src="~/img/hizmet.png" />
        <p>HİZMET SEKTÖRÜ</p>
    </div>


</div>

<div id="ortakMetin">
    <ul>
        <li>Bir The Project Invest danışmanı bir yatırım stratejisi oluşturmak için müşterilerle birlikte çalışır.</li>
        <li>The Project Invest danışmanı müşterinin finansal durumunu gözden geçirmek ve hedeflerine ulaşmak için bir plan yapmak üzere derinlemesine bir çalışma yapar.</li>
        <li>Yatırım ve güncel projelerin yanı sıra The Project Invest danışmanları müşterilerine önemli bir hizmet sunarak finansal durumlarını düzenlemelerine ve iyileştirmelerine yardımcı olurlar.</li>
        <li>The Project Invest danışmanları vergi ve emlak planlaması, risk yönetimi, proje geliştirme, proje finansmanı ve eğitim planlaması konularında üst düzey deneyime sahiptir.</li>
        <li>The Project Invest danışmanları, iş hedeflerine ulaşmalarına yardımcı olmak için bir proje konusundaki uzmanlıklarını müşterilerine sunarlar. Bu projeler operasyonel, stratejik veya teknik nitelikte olabilir.</li>
    </ul>
</div>

<div id="danismanlarimiz">
    <h3 style="margin:0">Danışmanlarımız;</h3>
    <ul style="margin:0">
        <li>Proje Parametrelerini Değerlendirir </li>
        <li>Projenin gücünü ve iyileştirilmesi gereken yönlerini analiz eder </li>
        <li>Müşterinin ihtiyaçlarına göre Proje Planını Geliştirir </li>
        <li>Proje için en uygun konum ve şartları tespit eder</li>
        <li>Proje için optimum kapasite ve ihtiyaçları tespit eder</li>
        <li>Projenin hayata geçirilmesine kadar yapılacak operasyonu müşteri adına yürütür</li>
    </ul>
</div>